Analisis de datos con Pandas

In [1]:

import pandas as pd

In [2]:
pwd

'd:\\Universidad\\Cursos\\Analisis de datos con Pandas'

In [3]:
cd "D:/Universidad/Cursos/Analisis de datos con Pandas"

D:\Universidad\Cursos\Analisis de datos con Pandas

Conceptos Basicos

In [4]:
#Cargar tabla de ejemplo
tabla = pd.read_csv("TablaEjemplo.csv")
tabla.head()

  Nombre  Edad       País Automovil
0   Juan    35     México        No
1  Pedro    41     España        Si
2  María    28       Perú        Si
3  Laura    66  Argentina        No

In [5]:
#Muestra la columna Nombre
tabla['Nombre']

0     Juan
1    Pedro
2    María
3    Laura
Name: Nombre, dtype: object

In [6]:
#Muestra la columna Nombre y Edad
tabla[['Nombre', 'Edad']]

  Nombre  Edad
0   Juan    35
1  Pedro    41
2  María    28
3  Laura    66

Ingresar y visualizar Datos

In [7]:
tabla = pd.read_csv('TablaEjemplo.csv')
tabla

  Nombre  Edad       País Automovil
0   Juan    35     México        No
1  Pedro    41     España        Si
2  María    28       Perú        Si
3  Laura    66  Argentina        No

In [8]:
#Muestra (x,y) 
tabla.shape

(4, 4)

In [9]:
#Muestra los 10 primeros datos de tabla
tabla.head(10)

  Nombre  Edad       País Automovil
0   Juan    35     México        No
1  Pedro    41     España        Si
2  María    28       Perú        Si
3  Laura    66  Argentina        No

In [10]:
#Muestra los ultimos 5 datos de Tabla
tabla.tail()

  Nombre  Edad       País Automovil
0   Juan    35     México        No
1  Pedro    41     España        Si
2  María    28       Perú        Si
3  Laura    66  Argentina        No

In [11]:
tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nombre     4 non-null      object
 1   Edad       4 non-null      int64
 2   País       4 non-null      object
 3   Automovil  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes

In [22]:
#Carga vehiculos.csv con el nombre tabla1
tabla1 = pd.read_csv('vehiculos.csv')
tabla1

,compactness,circularity,distance_circularity,radius_ratio,pr_axis_aspect_ratio,max_length_aspect_ratio,scatter_ratio,elongatedness,pr_axis_rectangularity,max_length_rectangularity,scaled_variance_major_axis,scaled_variance_minor_axis,scaled_radius_gyration,skewness_major_axis,skewness_minor_axis,kurtosis_minor_axis,kurtosis_major_axis,hollows_ratio,vehicle_class
0,95.0,48.0,83.0,178.0,72.0,10.0,162.0,42.0,20.0,159.0,176.0,379.0,184.0,70.0,6.0,16.0,187.0,197.0,van
1,91.0,41.0,84.0,141.0,57.0,9.0,149.0,45.0,19.0,143.0,170.0,330.0,158.0,72.0,9.0,14.0,189.0,199.0,van
2,104.0,50.0,106.0,209.0,66.0,10.0,207.0,32.0,23.0,158.0,223.0,635.0,220.0,73.0,14.0,9.0,188.0,196.0,saab
3,93.0,41.0,82.0,159.0,63.0,9.0,144.0,46.0,19.0,143.0,160.0,309.0,127.0,63.0,6.0,10.0,199.0,207.0,van
4,85.0,44.0,70.0,205.0,103.0,52.0,149.0,45.0,19.0,144.0,241.0,325.0,188.0,127.0,9.0,11.0,180.0,183.0,bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,93.0,39.0,87.0,183.0,64.0,8.0,169.0,40.0,20.0,134.0,200.0,422.0,149.0,72.0,7.0,25.0,188.0,195.0,saab
842,89.0,46.0,84.0,163.0,66.0,11.0,159.0,43.0,20.0,159.0,173.0,368.0,176.0,72.0,1.0,20.0,186.0,197.0,van
843,106.0,54.0,101.0,222.0,67.0,12.0,222.0,30.0,25.0,173.0,228.0,721.0,200.0,70.0,3.0,4.0,187.0,201.0,saab
844,86.0,36.0,78.0,146.0,58.0,7.0,135.0,50.0,18.0,124.0,155.0,270.0,148.0,66.0,0.0,25.0,190.0,195.0,saab
845,85.0,36.0,66.0,123.0,55.0,5.0,120.0,56.0,17.0,128.0,140.0,212.0,131.0,73.0,1.0,18.0,186.0,190.0,van

In [24]:
tabla1.columns #Para ver las columnas del data frame

Index(['compactness', 'circularity', 'distance_circularity', 'radius_ratio',
       'pr_axis_aspect_ratio', 'max_length_aspect_ratio', 'scatter_ratio',
       'elongatedness', 'pr_axis_rectangularity', 'max_length_rectangularity',
       'scaled_variance_major_axis', 'scaled_variance_minor_axis',
       'scaled_radius_gyration', 'skewness_major_axis', 'skewness_minor_axis',
       'kurtosis_minor_axis', 'kurtosis_major_axis', 'hollows_ratio',
       'vehicle_class'],
      dtype='object')

In [26]:
#Cuenta los valores de la colimna vehicle_class de tabla1
tabla1.vehicle_class.value_counts()

bus     218
saab    217
opel    212
van     199
Name: vehicle_class, dtype: int64

In [33]:
tabla1.distance_circularity.sort_values() #Ordena los valores de la columna en orden ascendente

231     40.0
612     42.0
655     44.0
230     47.0
617     49.0
       ...
718    110.0
255    110.0
346    110.0
283    110.0
506    112.0
Name: distance_circularity, Length: 846, dtype: float64

In [34]:
tabla1.sort_values(by= 'pr_axis_rectangularity') #Ordena toda la tabla segun una columna o varias

,compactness,circularity,distance_circularity,radius_ratio,pr_axis_aspect_ratio,max_length_aspect_ratio,scatter_ratio,elongatedness,pr_axis_rectangularity,max_length_rectangularity,scaled_variance_major_axis,scaled_variance_minor_axis,scaled_radius_gyration,skewness_major_axis,skewness_minor_axis,kurtosis_minor_axis,kurtosis_major_axis,hollows_ratio,vehicle_class
845,85.0,36.0,66.0,123.0,55.0,5.0,120.0,56.0,17.0,128.0,140.0,212.0,131.0,73.0,1.0,18.0,186.0,190.0,van
41,88.0,37.0,51.0,105.0,52.0,5.0,119.0,57.0,17.0,128.0,135.0,207.0,125.0,86.0,8.0,16.0,179.0,183.0,van
617,83.0,37.0,49.0,112.0,55.0,5.0,122.0,55.0,17.0,128.0,144.0,219.0,146.0,85.0,8.0,16.0,180.0,184.0,van
614,85.0,33.0,50.0,104.0,53.0,4.0,115.0,59.0,17.0,118.0,136.0,193.0,127.0,83.0,1.0,30.0,179.0,185.0,saab
612,80.0,34.0,42.0,110.0,57.0,3.0,114.0,59.0,17.0,119.0,131.0,191.0,121.0,87.0,4.0,7.0,179.0,183.0,opel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,110.0,58.0,106.0,180.0,51.0,6.0,261.0,26.0,28.0,171.0,278.0,998.0,257.0,83.0,9.0,13.0,181.0,182.0,bus
321,113.0,57.0,109.0,194.0,56.0,6.0,260.0,26.0,28.0,175.0,288.0,982.0,261.0,85.0,11.0,21.0,182.0,183.0,bus
396,108.0,57.0,106.0,177.0,51.0,5.0,256.0,26.0,28.0,170.0,285.0,966.0,261.0,87.0,11.0,2.0,182.0,181.0,bus
274,107.0,57.0,106.0,179.0,51.0,8.0,257.0,26.0,28.0,172.0,275.0,954.0,232.0,83.0,2.0,20.0,181.0,184.0,bus
835,111.0,58.0,105.0,183.0,51.0,6.0,265.0,26.0,29.0,174.0,285.0,1018.0,255.0,85.0,4.0,8.0,181.0,183.0,bus